# Codenames of Columns

## Basic.2 = Name; Basic.3 = Model; Basic.6 = Price; Basic.19 = Transmission Type; Basic.20 = Gears; Basic.21 = Drive Type; Basic.4 = Status; .65 = Seat Type; .2 = Car Type

In [2]:
import turicreate as tc
car = tc.SFrame('India-Car-Database-Full-Specs-by-Teoalida-SAMPLE.csv')
cars = tc.SFrame('India-Car-Database-Full-Specs-by-Teoalida-SAMPLE.csv')
car = car.add_row_number()
car = car[car['id'] > 10]
del car['id']
def change_Basic_6(string):
    string = string[:3]
    try:
        val = float(string) * 100000
    except:
        val = 0
    return val

car['Basic.6'] = car['Basic.6'].apply(change_Basic_6)
valid_cars = car[car['Basic.6']!= 0]
train, test = valid_cars.random_split(.8, seed = 0)
model_cars = tc.linear_regression.create(train, target= 'Basic.6', features=None, validation_set=test)

Successfully parsed 2 tokens:
	0: Statistics ... rs by make
	1:

Successfully parsed 2 tokens:
	0: Copyright  ... oalida.com
	1:

Successfully parsed 2 tokens:
	0: Make
	1: Number of  ... l versions

Successfully parsed 2 tokens:
	0: 53
	1: 4296

Successfully parsed 2 tokens:
	0: Acura
	1: Launch 2018

Successfully parsed 2 tokens:
	0: Ashok Leyland
	1: 7

Successfully parsed 2 tokens:
	0: Aston Martin
	1: 12

Successfully parsed 2 tokens:
	0: Audi
	1: 161

Successfully parsed 2 tokens:
	0: Bentley
	1: 16

Successfully parsed 2 tokens:
	0: BMW
	1: 144

139 lines failed to parse correctly

Finished parsing file /mnt/c/Users/HARINJAY/Documents/Jupyter Notebook/India-Car-Database-Full-Specs-by-Teoalida-SAMPLE.csv

Parsing completed. Parsed 100 lines in 0.074827 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Successfully parsed 2 tokens:
	0: Statistics ... rs by make
	1:

Successfully parsed 2 tokens:
	0: Copyright  ... oalida.com
	1:

Successfully parsed 2 tokens:
	0: Make
	1: Number of  ... l versions

Successfully parsed 2 tokens:
	0: 53
	1: 4296

Successfully parsed 2 tokens:
	0: Acura
	1: Launch 2018

Successfully parsed 2 tokens:
	0: Ashok Leyland
	1: 7

Successfully parsed 2 tokens:
	0: Aston Martin
	1: 12

Successfully parsed 2 tokens:
	0: Audi
	1: 161

Successfully parsed 2 tokens:
	0: Bentley
	1: 16

Successfully parsed 2 tokens:
	0: BMW
	1: 144

139 lines failed to parse correctly

Finished parsing file /mnt/c/Users/HARINJAY/Documents/Jupyter Notebook/India-Car-Database-Full-Specs-by-Teoalida-SAMPLE.csv

Parsing completed. Parsed 223 lines in 0.071932 secs.

Successfully parsed 2 tokens:
	0: Statistics ... rs by make
	1:

Successfully parsed 2 tokens:
	0: Copyright  ... oalida.com
	1:

Successfully parsed 2 tokens:
	0: Make
	1: Number of  ... l versions

Successfully parsed 2 tokens:
	0: 53
	1: 4296

Successfully parsed 2 tokens:
	0: Acura
	1: Launch 2018

Successfully parsed 2 tokens:
	0: Ashok Leyland
	1: 7

Successfully parsed 2 tokens:
	0: Aston Martin
	1: 12

Successfully parsed 2 tokens:
	0: Audi
	1: 161

Successfully parsed 2 tokens:
	0: Bentley
	1: 16

Successfully parsed 2 tokens:
	0: BMW
	1: 144

139 lines failed to parse correctly

Finished parsing file /mnt/c/Users/HARINJAY/Documents/Jupyter Notebook/India-Car-Database-Full-Specs-by-Teoalida-SAMPLE.csv

Parsing completed. Parsed 100 lines in 0.07261 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Successfully parsed 2 tokens:
	0: Statistics ... rs by make
	1:

Successfully parsed 2 tokens:
	0: Copyright  ... oalida.com
	1:

Successfully parsed 2 tokens:
	0: Make
	1: Number of  ... l versions

Successfully parsed 2 tokens:
	0: 53
	1: 4296

Successfully parsed 2 tokens:
	0: Acura
	1: Launch 2018

Successfully parsed 2 tokens:
	0: Ashok Leyland
	1: 7

Successfully parsed 2 tokens:
	0: Aston Martin
	1: 12

Successfully parsed 2 tokens:
	0: Audi
	1: 161

Successfully parsed 2 tokens:
	0: Bentley
	1: 16

Successfully parsed 2 tokens:
	0: BMW
	1: 144

139 lines failed to parse correctly

Finished parsing file /mnt/c/Users/HARINJAY/Documents/Jupyter Notebook/India-Car-Database-Full-Specs-by-Teoalida-SAMPLE.csv

Parsing completed. Parsed 223 lines in 0.063097 secs.

Linear regression:

--------------------------------------------------------

Number of examples          : 121

Number of features          : 189

Number of unpacked features : 189

Number of coefficients    : 940

Starting L-BFGS

--------------------------------------------------------

+-----------+----------+-----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| Iteration | Passes   | Step size | Elapsed Time | Training Max Error | Validation Max Error | Training Root-Mean-Square Error | Validation Root-Mean-Square Error |

+-----------+----------+-----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

Warning: Reached max step size.

| 0         | 5        | 25.000000 | 1.017720     | 1999999.995521     | 1499999.996733       | 817819.611274                   | 828229.857104                     |

| 1         | 10       | 1.054785  | 1.030614     | 1188740.289462     | 955244.918060        | 331140.122970                   | 336971.780120                     |

| 2         | 16       | 5.273925  | 1.042810     | 724819.554761      | 424190.985140        | 208384.566836                   | 218494.835682                     |

| 3         | 22       | 1.836256  | 1.056519     | 574056.788293      | 366754.953065        | 118179.788416                   | 121338.083744                     |

| 4         | 27       | 1.510868  | 1.068390     | 573126.753939      | 252161.075520        | 87024.138207                    | 83492.195556                      |

| 9         | 34       | 1.000000  | 1.092653     | 567070.399504      | 244684.473729        | 53536.218540                    | 79005.693963                      |

+-----------+----------+-----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

# Start predicting car price (Use Basic.6 column as price, for more details, view column index help)

In [13]:
car1 = {
    #fill up the details in this dictionary
    
}
model_cars.predict(car1,missing_value_action= '')

dtype: float
Rows: 1
[22929.600495559505]

# Rough Works